$themeColor:#00a0e9;
$border:#E9E9E9;


/* tree */
.s-tree{
	color:$themeColor;
	max-height:280px;
	overflow:auto;
    border: 1px solid $themeColor;
    border-bottom: 0;

	.par-menu{
		overflow:hidden;
	}

	.search-res{
	    padding: 8px 0;
	    border-bottom: 1px solid #00a0e9;
	    text-indent: 1em;
	}
	
	@mixin child-active{
			background:$themeColor;
			color:white;
			.slide-icon{
				background: white;
				color:$themeColor;
			}
			label{
				color: white;
			}
	}
	
	.menuItem{
		
		$paddingH:8px;
		position:relative;
		padding: $paddingH 0;
		border-bottom:1px solid $themeColor;
		cursor:pointer;
		.tree-slide-icon{
			position:absolute;
			padding:$paddingH/2 4px;
			top:$paddingH/2;
			right:0;
			font-size:18px;
		}

		&:hover{
			@include child-active ;
			.tree-slide-icon{
				color:white ;
			}
		}
		
	}
	.par-item{
		padding-right: 30px;
	}
	.menuItem.active{
		@include child-active ;
	}

	.tree-active{
			.tree-slide-icon{
				.fa:before{
					content:"\f196";
				}
			}
			.fa-folder-open-o:before{
				content:"\f114";
			}
			
	}
	.sel-item{
		padding-left:10px;
		.fa{
			font-size:18px;
		}
	}
}

.indent{
	padding:0 8px;
}



/* hover 动画下划线 */

.line-hover{
	padding:8px 0;
	position: relative;
	&:after{
		content:"";
		position: absolute;
		bottom:0;
		left:0;
		width:100%;
		height:3px;
		background: $themeColor;
		border-radius:3px;
	    will-change: transform;
	    transition: transform .55s cubic-bezier(.82,.01,.21,1);
	    transform:scaleX(0);
        transform-origin: 100% 0;
	}
	&:hover{
	  &:after{
	  	 transition: transform .85s cubic-bezier(.82,.01,.21,1);
	  	 transform:scaleX(1);
	  	 transform-origin: 0 0;
	  }	
	
	}
}

/* 提示框類型 */
.g-tip-toast{
	position: absolute;
	right:30px;
	top:64px;
	z-index:12;
	.tip-item{
		position: relative;
	    border-radius: 6px;
	 
	    background: #e7f8f8e8;
	    margin: 12px 0;
	    overflow: hidden;
	    width: 270px;
	    height: 110px;
	   
	}
	.tip-txt{
	   padding: 8px;
	   text-indent:1rem;
	   line-height:1.4rem;
	}
	.j-close{
		cursor: pointer;

	}
	.tip-close{
		display:flex;
		justify-content: space-between;
		padding:8px;
		border-bottom:1px solid $themeColor;
		.sicon{
			font:{
				size:20px;
				weight:bolder;
			}
		}
		.sicon-error{
			color:red;
		}
		.sicon-detail{
			color:$themeColor;
		}
		.sicon-warn{
			color:#FF4E00;
		}
	}
	.tip-progress{
		position: absolute;
		bottom:2px;
		right:0;
		width: 100%;
		height:4px;
		background:$themeColor;
		animation:progress 6s linear;
	}
}

@keyframes progress{
	from {
		width:0%;
	}
	to {
		width:100%;
	}
} 
/* 页面加载过度预加载动画 */
 .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:#43425da6;
}

 .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #fff1eb;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}
/* 提示 */
.warn{
    color: #db0d0d;
    width:100%;
    position: absolute;
    font-weight:bolder;
	padding:8px 0;
	height:36px;
	overflow:hidden;

}


/* 清除幽灵空白节点 */
.clear-inline{
	display: flex;
}



