@import "./common/normalize.css" ,"./common/common.scss";

.m-sysOpt{
	&>li{
		padding: 4px 0;
	}
}

.pwd-M{
	.item-inp{
		padding:10px;
	}
	.s-inp{
		flex: 1;
	}
	.m-Mtit{
		justify-content: center;
	}
}


